<head>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<div style=" border-bottom-style: solid; border-bottom-width: 1px; ">
	<label style="font-size: 12px;"><b>Mo: </b></label>&nbsp;&nbsp;&nbsp;<label style="font-size: 12px;">9033317870</label>&nbsp;&nbsp;&nbsp;
	 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label style="border-style:none; font-weight:bold; font-size: 30px;"size="30" >Netram Eyecare & Opticals</label>&nbsp;&nbsp;&nbsp;
	 &nbsp;&nbsp;&nbsp;
	 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="logo.jpg" width="50" height="50">&nbsp;&nbsp;&nbsp;
	 <br>
	 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label style="font-size: 12px;">7041311844</label>&nbsp;&nbsp;&nbsp;
	 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label style="border-style:none; font-weight:bold; font-size: 20px;"size="30"> add Balaji Tower Govid Nagar dahod</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label  style="border-style: none; font-size: 15px;"size="30" >Netram Eyecare</label>
</div>
<div>
	<br>
	<div>
	<table class="table">
	<tr>
	<td>
	<label style="font-size: 13px;"><b>Recipt No: </b></label><label style="font-size: 13px; border-top-style: none; border-left-style: none; border-right-style: none; text-align:center;" >{{no}}</label></td>
	<td><label style="font-size: 13px;"><b>Mo.: </b></label><label style="font-size: 13px;  border-top-style: none; border-left-style: none; border-right-style: none; text-align:center;" >{{mo}}</label></td>
	<td align="RIGHT" colspan="2">
	<label style="font-size: 13px;" ><b>Recipt Date: </b> {{date}} </label></td> 
</tr>
<tr>
	<td colspan="2" align="left">
		<label style="font-size: 13px;"><b>Custmor name: </b></label><label style="font-size: 13px; border-top-style: none; border-left-style: none; border-right-style: none; text-align:center;" >{{name}}</label></td>
	<td colspan="2" align="RIGHT">
	<label style="font-size: 13px;" ><b>Delivery Date: </b> {{date}} </label></td> </tr>
	<tr>
		<td>
	<label style="font-size: 13px;"><b>Address: </b></label>
	<label style="font-size:13px;">{{address}} </label></td>
</tr>
</table>
</div>
<div >
	<br>
	<table>
		<tr>
			<td align="center">
	<div class="form-group" style="margin-left: 2%">
			<table  border="0.8px">
				<tr>
					<td colspan="5" align="center"><label style="font-size: 13px;"><b>RIGHT</b></label> </td>
				</tr>	
				<tr>
					<td></td>
					<td><label style="font-size: 13px;"><b>SPH</b></label></td>
					<td><label style="font-size: 13px;"><b>CYL</b></label></td>
					<td><label style="font-size: 13px;"><b>AXIS</b></label></td>
					<td><label style="font-size: 13px;"><b>V/N</b></label></td>
				</tr>
				<tr>
					<td><label style="font-size: 13px;">DV</label></td>
					<td><label style="font-size: 13px;">{{dvsph}}</label></td>
					<td><label style="font-size: 13px;">{{dvsyl}}</label></td>
					<td><label style="font-size: 13px;">{{dvaxix}}</label></td>
					<td><label style="font-size: 13px;">{{dvvn}}</label></td>
				</tr>
				<tr>
					<td><label style="font-size: 13px;">NV</label></td>
					<td><label style="font-size: 13px;">{{nvsph}}</label></td>
					<td><label style="font-size: 13px;">{{nvsyl}}</label></td>
					<td><label style="font-size: 13px;">{{nvaxix}}</label></td>
					<td><label style="font-size: 13px;">{{nvvn}}</label></td>
				</tr>
				<tr>
					<td  align="center"><label style="font-size: 13px;">ADD</label></td>
					<td colspan="4"><label style="font-size: 13px;">{{add}}</label></td>

				</tr>		
			</table>
</div>
		</td>
		<td align="center">
	<div class="form-group" style="margin-left: 2%">
			<table  border="0.8px">
				<tr>
					<td colspan="5" align="center"><label style="font-size: 13px;"><b>LEFT</b></label> </td>
				</tr>	
				<tr>
					<td></td>
					<td><label style="font-size: 13px;"><b>SPH</b></label></td>
					<td><label style="font-size: 13px;"><b>CYL</b></label></td>
					<td><label style="font-size: 13px;"><b>AXIS</b></label></td>
					<td><label style="font-size: 13px;"><b>V/N</b></label></td>
				</tr>
				<tr>
					<td><label style="font-size: 13px;">DV</label></td>
					<td><label style="font-size: 13px;">{{dvsph1}}</label></td>
					<td><label style="font-size: 13px;">{{dvsyl1}}</label></td>
					<td><label style="font-size: 13px;">{{dvaxix1}}</label></td>
					<td><label style="font-size: 13px;">{{dvvn1}}</label></td>
				</tr>
				<tr>
					<td><label style="font-size: 13px;">NV</label></td>
					<td><label style="font-size: 13px;">{{nvsph1}}</label></td>
					<td><label style="font-size: 13px;">{{nvsyl1}}</label></td>
					<td><label style="font-size: 13px;">{{nvaxix1}}</label></td>
					<td><label style="font-size: 13px;">{{nvvn1}}</label></td>
				</tr>
				<tr>
					<td  align="center"><label style="font-size: 13px;">ADD</label></td>
					<td colspan="4"><label style="font-size: 13px;">{{add1}}</label></td>

				</tr>		
			</table>
</div>
</td->
</tr>
</table>
<table>
<tr>
<div>
<td>
	<br>
<label style="font-size: 13px;">
<b>Ref By Dr: </b></label> &nbsp;&nbsp;&nbsp;<label style="font-size: 13px;"> {{dr}}</label>&nbsp;&nbsp;&nbsp;</td>
</div>
<div>
</div>
<div style="margin-left: 50%">
<td>
<br>
<label style="font-size: 13px;">
<b>pd: </b> </label>&nbsp;&nbsp;<label style="font-size: 13px;"> </label>&nbsp;&nbsp;&nbsp;
</td>
</div>
</tr>
<tr>
	<td>
<label style="font-size: 13px;">
<b>Lense type: </b> </label> &nbsp;&nbsp;&nbsp;<label style="font-size: 13px;"> {{ltype}}</label>&nbsp;&nbsp;&nbsp;</td>
</tr>	
</div>
<table border="1.5px" cellpadding="10px;" cellspacing="4px;">
	<tr align="center">
		<th style="text-align: center;"><label style="font-size: 13px;"> S.No.</label></th>
		<th style="text-align: center;"><label style="font-size: 13px;">Particular</label> </th>
		<th style="text-align: center;"><label style="font-size: 13px;"> Unit </label></th>
		<th style="text-align: center;"><label style="font-size: 13px;"> Qty</label></th>
		<th style="text-align: center;"><label style="font-size: 13px;"> Rate</label></th>
		<th style="text-align: center;"> <label style="font-size: 13px;">Disc %</label></th>
		<th style="text-align: center;"><label style="font-size: 13px;"> Tax %</label></th>
		<th style="text-align: center;"><label style="font-size: 13px;"> Ammount </label></th>
	</tr>
	{% for i in bill%}
	<tr align="center">
		
		<td style="text-align: center;"><label style="font-size: 13px;"> {{i.sno}}</label></td>
		<td style="text-align: center;"><label style="font-size: 13px;"> {{i.item}}</label></td>
		<td style="text-align: center;"><label style="font-size: 13px;"> {{i.unit}}</label></td>
		<td style="text-align: center;"><label style="font-size: 13px;"> {{i.qty}}</label></td>
		<td style="text-align: center;"><label style="font-size: 13px;"> {{i.rate}}</label></td>
		<td style="text-align: center;"><label style="font-size: 13px;"> {{i.disc}}</label></td>
		<td style="text-align: center;"><label style="font-size: 13px;"> {{i.tax}}</label></td>
		<td style="text-align: center;"><label style="font-size: 13px;"> {{i.total}}</label></td>
	</tr>
	{% endfor %}
</table>
</table>-
<h1 align="RIGHT">total ammount: {{total1}}</h1>
<div class="footer" style="position: fixed; bottom: 0;">
  <p style="font-size: 13px;">Billing Software Created By : Chitta:  </p>
  <p style="font-size: 13px;">Mo:  9558957005 </p>
</div>